name: Solar System Workflow
on:
  push:
  workflow_dispatch:
jobs:
  unit-testing:
    runs-on: ubuntu-latest

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: list repo files
        run: ls -ltr  

      - name: setup nodesjs
        uses: actions/setup-node@v4
        with: 
          node-version: 22

      - name: install dependencies
        run: npm install --no-audit